body
{
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
h1
{
    color:#9fc2c9;
    font-size:30px;
    text-align:center;
    font-weight: 400;
}
.logo
	{
    position: relative;
    top:0px;
    width: 240px;
    left: calc(50% - 120px);
	}
.nav
	{
	text-align:center;
    width: 100%;
    height: 20%;
    left: 0px;
    top: 80%;
	}
.nav a
{

    color:yellow;
    font-size:2em;
    test-decoration:none;
}
.header
	{
	justify-content:center;
    height: 300px;
	}
.footer
	{

    width: 100%;
    height: 100px;
    left: 0%;
    bottom: 0%;
    color:white;
	}
    .main
	{
        top:30%;
        width:100%;
	}
    .darthVader
	{

        width:50%;
        right:0%;
        bottom:10%;
	}
    .moment
	{
        width: 200px;
	}
    .pictures
	{
        width: 1180px;
        height: 180px;
        left: 50px;
	}
    .angles
	{
        border-radius: 20px;
	}
